@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-1: rgb(231, 247, 254);
  --clr-primary-2: rgb(183, 230, 251);
  --clr-primary-3: rgb(135, 213, 248);
  --clr-primary-4: rgb(87, 196, 245);
  --clr-primary-5: rgb(39, 179, 242);
  --clr-primary-6: rgb(13, 153, 216);
  --clr-primary-7: rgb(10, 119, 168);
  --clr-primary-8: rgb(7, 85, 120);
  --clr-primary-9: rgb(4, 51, 72);
  --clr-primary-10: rgb(1, 17, 24);

  --clr-heading-1: rgb(240, 242, 245);
  --clr-heading-2: rgb(209, 215, 224);
  --clr-heading-3: rgb(179, 189, 204);
  --clr-heading-4: rgb(149, 163, 183);
  --clr-heading-5: rgb(118, 136, 162);
  --clr-heading-6: rgb(93, 111, 137);
  --clr-heading-7: rgb(72, 86, 106);
  --clr-heading-8: rgb(51, 62, 76);
  --clr-heading-9: rgb(31, 37, 46);
  --clr-heading-10: rgb(10, 12, 15);

  --clr-white: #fff;
}

body {
  font-family: "Lato", sans-serif;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(
      to top,
      rgba(39, 179, 242, 0.2),
      rgba(7, 85, 120, 0.8)
    ),
    url(../images/main.jpeg) center/cover no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 2.5rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.hero-text {
  letter-spacing: 0.1rem;
  padding: 0rem 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--clr-white);
  text-align: center;
  max-width: 992px;
}

.hero-btn {
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--clr-white);
  border: none;
  color: var(--clr-primary-5);
  border: 2px solid var(--clr-white);
  transition: 0.3s all linear;
}

.hero-btn:hover {
  color: var(--clr-white);
  background: none;
}

.about-section {
  background: var(--clr-white);
  padding-bottom: 1rem;
}

.about {
  padding: 3rem 1.35rem;
  max-width: 1268px;
  margin: 0 auto;
}

.about-text h2 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.about-header {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-align: center;
  padding: 2rem 0rem;
  font-weight: 700;
  color: var(--clr-primary-9);
}

.about-us {
  color: var(--clr-primary-5);
}

img {
  width: 100%;
  display: block;
}
.about-img {
  margin: 1.25rem 0rem;
}

.about-text h2 {
  color: var(--clr-heading-8);
}

.about-text p {
  margin: 1.25rem 0rem;
  color: var(--clr-heading-5);
  font-size: 0.9rem;
}

.about-text button {
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  border: none;
  letter-spacing: 0.2rem;
  color: var(--clr-white);
  background: var(--clr-primary-5);
  transition: 0.3s all linear;
  cursor: pointer;
}

.about-text button:hover {
  color: var(--clr-heading-8);
  background: var(--clr-primary-3);
}

@media screen and (min-width: 576px) {
  .hero-title {
    letter-spacing: 0.25rem;
    font-size: 3rem;
  }

  .hero-text {
    letter-spacing: 0.25rem;
    padding: 0rem 4.5rem;
  }

  .hero-btn {
    padding: 1.15rem 1.65rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .service-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-item {
    flex: 0 0 calc(50% - 1rem);
  }

  .service-item h3 {
    font-size: 1rem !important;
  }

  .service-item p {
    width: 70% !important;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .tour-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tour-box {
    flex: 0 0 calc(50% - 1.75rem);
  }
}

@media screen and (min-width: 992px) {
  .hero-title {
    letter-spacing: 0.25rem;
    font-size: 4rem;
  }

  .hero-text {
    letter-spacing: 0.25rem;
    padding: 0rem 6.5rem;
  }

  .hero-btn {
    padding: 1.25rem 1.75rem;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
  }

  .about-text {
    align-self: center;
  }

  .about-text p {
    font-size: 1rem;
  }

  .service-item {
    flex: 0 0 calc(33.3% - 1rem);
  }

  .service-item h3 {
    letter-spacing: 0.25rem;
    font-size: 1.15rem !important;
    margin-bottom: 1rem;
  }

  .service-item p {
    width: 80% !important;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1268px) {
  .about-img::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid var(--clr-primary-5);
    box-sizing: border-box;
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: -1;
  }

  .about-img {
    position: relative;
    z-index: 1;
  }

  .service-content {
    justify-content: space-around;
    padding: 0 2rem;
  }

  .service-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .service-item i {
    align-self: center;
  }

  .service-item h3 {
    text-align: left;
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 0.5rem !important;
  }

  .service-item p {
    text-align: left;
    width: 90% !important;
  }

  .tour-box {
    flex: 0 0 calc(33.33% - 1.75rem);
  }
}

.services {
  background: #f0f8ff;
  padding-bottom: 3rem;
}
.service-wrapper {
  max-width: 1268px;
  margin: 0 auto;
}

.service-header {
  text-transform: uppercase;
  color: var(--clr-heading-8);
  padding: 3rem 0rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
}

.service-header h2 > span {
  color: var(--clr-primary-5);
}

.service-item {
  text-align: center;
  margin-bottom: 3rem;
}

.service-item i {
  font-size: 2.25rem;
  background: var(--clr-primary-5);
  padding: 1rem;
  margin-bottom: 1rem;
}

.service-item h3 {
  text-transform: capitalize;
  color: var(--clr-heading-8);
  letter-spacing: 0.25rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.service-item p {
  width: 60%;
  margin: 0 auto;
  color: var(--clr-heading-5);
}

.tours {
  padding: 0 2rem;
  margin: 1.5rem 0;
}

.tours-wrapper {
  max-width: 1268px;
  background: var(--clr-white);
  margin: 0 auto;
}

.tours-header {
  text-transform: uppercase;
  color: var(--clr-heading-8);
  padding: 3rem 0rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
}

.tours-header h2 > span {
  color: var(--clr-primary-5);
}

.tour-bg-img {
  position: relative;
  min-height: 12rem;
}

.bg1 {
  background: url(../images/tour-1.jpeg) center/cover no-repeat;
}

.bg2 {
  background: url(../images/tour-2.jpeg) center/cover no-repeat;
}
.bg3 {
  background: url(../images/tour-3.jpeg) center/cover no-repeat;
}
.bg4 {
  background: url(../images/tour-4.jpeg) center/cover no-repeat;
}
.tour-date {
  position: absolute;
  min-width: 30%;
  min-height: 1.5rem;
  background: var(--clr-primary-5);
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--clr-heading-9);
  bottom: 0;
  right: 0;
}
.tour-box {
  box-shadow: 0px 1px 10px var(--clr-heading-2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 2rem;
  transition: 0.3s all linear;
}
.tour-content {
  padding: 1rem 1.75rem;
  background: #f0f8ff;
}

.tour-box:hover {
  transform: scale(1.02);
  box-shadow: 0px 1px 10px var(--clr-heading-4);
}

.tour-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.tour-content-header h3 {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  color: var(--clr-heading-8);
}

.tour-content-header p {
  color: var(--clr-heading-5);
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}

.tour-content-text {
  font-size: 0.9rem;
  color: var(--clr-heading-7);
  margin-bottom: 1rem;
}

.tour-content-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-primary-5);
  font-size: 0.9rem;
}
